:root {
    --primary-color: linear-gradient(45deg, orange, purple, green)
    --secundary-color: blue;

}
header{
    height: 170px;
    background-color: #33348E;
    display:flex ;
    align-items: center;
    justify-content: space-between;
}
.nav-bar img{
    height:66px ;
    width: 66px;
    margin: 30px;

}
.direcao img{
    margin:1200px;
}
.quadradao{
    height: 950px;
    width: 1450px;
    background-color: white;
    margin-top:220px;
    margin-left: 530px; 

}
.jersey{
    margin-left:100px ;
    position: absolute;
    z-index: -1;
}
.jersey img{
    width: 90vw;
    height: 50vh;
}








    
    




    








